{{ define "post" }}
    <!DOCTYPE html>
    <html lang="en">
    {{ template "head" . }}
    <body>

    <form class="container" method="post" action="post">
        <div class="row">
            <div class="col-12"><a href="/">Back to Catalog</a></div>
        </div>
        <input type="hidden" name="path" value="{{ .Path }}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ .Title }}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3">{{ .Description }}</textarea>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" name="content">{{ .RawContent }}</textarea>
        </div>
    </form>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("content") });
    </script>
    </body>
    </html>
{{ end }}